python-dotenv==1.0.0
requests==2.31.0
feedparser==6.0.10
newspaper3k==0.2.8
tqdm==4.66.1
beautifulsoup4==4.12.2
soupsieve==2.4.1
lxml==4.9.3
Pillow==10.0.0
cssselect==1.2.0
feedfinder2==0.0.4
jieba3k==0.35.1
nltk==3.8.1
requests-file==1.5.1
sgmllib3k==1.0.0
tldextract==3.4.4
openai>=1.6,<2.0
supabase